@use "./base.scss";

body {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at 40% 30%, #040a3d, #000000);
  filter: blur(80px);
  z-index: -1;
}

.in-view {
    margin-bottom: 50px;
}