@use "./base.scss";

@font-face {
    font-family: "Ferrite Core DX Regular";
    src: url("/static/fonts/FerriteCoreDX-Regular.ttf") format("truetype");
}

:root {
  --brandColor: #beebf8;
  --background: #000000;
  --rimLight: #4b4b4c;
  --brandFont: 'Ferrite Core DX Regular', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #000000;
}

.page > #quartz-body {
    padding: 0;
}

.center {
    padding: 0 1rem;
    box-sizing: border-box;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at 35% -10%, var(--highlight), #000000, #000000, #000000);
  filter: blur(0px);
  z-index: -1;
}

// Mobile overrides
@media (max-width: 800px) {
    .page > #quartz-body .sidebar.left:has(.explorer) {
        background: var(--background);
    }
    
    .explorer .explorer-content {
        background: var(--background);
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .search {
        margin-right: 1rem;
    }
}

// Light mode override
[saved-theme="light"] body::before {
  background: #c1c1c1;
}

li {
    margin-bottom: 6px;
}

li a {
    font-weight: normal;
    font-size: 0.9rem;
}

ul.content li {
    border-left: 2px solid var(--brandColor);
    padding-left: 8px;
    margin-bottom: 10px;
}

li:last-child {
    margin-bottom: 0;
}

li:first-child {
    margin-top: 0;
}

time {
    font-size: 0.8rem;
}

.content-meta span {
    font-size: 0.8rem;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.0rem;
}

.article-title {
    font-size: 3.0rem;
}

p {
    font-size: 1.0rem;
}

a.alias {
    padding: .15rem .4rem;
}

a.internal {
    padding: 0;
    background: none;
    font-weight: normal;
    color: var(--brandColor);
}

a.internal.tag-link {
    color: var(--secondary);
    font-size: 0.85rem;
    padding: .2rem .4rem;
    border-radius: 4px;
    text-transform: lowercase;
	background: linear-gradient(135deg, var(--highlight), rgba(255, 255, 255, 0.05));
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	border: 1px solid var(--highlight);
	box-shadow:
		0 8px 24px rgba(0, 0, 0, 0.2),
		inset 0 1px 0 var(--rimLight);
	overflow: hidden;
}

a.external {
    font-weight: normal;
    color: var(--brandColor);
}

code {
    background-color: var(--highlight);
    color: var(--secondary);
}

// Recent Articles
.recent-notes > ul.recent-ul > li:first-child {
    margin-top: 0.4rem;
}

.recent-notes > h3 {
    padding-bottom: 0.4rem;
    border-bottom: 1px solid var(--highlight);
}

.section .desc h3 a {
    padding-left: 0;
    font-weight: bold;
    font-family: var(--bodyFont);
    line-height: 1.0rem;
    color: var(--darkgray);
}

.recent-notes > ul.recent-ul {
    margin-top: 0;
}

// Breadcrumbs
.breadcrumb-element a {
    color: var(--darkgray);
}

// Fix search titles
.preview-inner h1.article-title {
    line-height: 2rem;
    font-size: 2rem;
}

// Title customization
.page-title a {
    color: var(--brandColor);
    font-family: var(--brandFont);
}